URxvt.font: xft:Source Code Pro:size=25
URxvt.perl-ext-common: selection-to-clipboard
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0000/8000
URxvt.foreground: white
URxvt*scrollBar:  false
URxvt*saveLines:10000

! Scroll with output when at bottom,
! but stop scrolling with output if scrolled up
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     false
URxvt*scrollTtyKeypress:    true

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
