* {
	font-size: 12;
	font-family: monospace;
}

window#waybar {
    border-top: solid 1px #ddd;
	background: #000000;
	color: #ddd;
}

#pulseaudio {
    background: #a0f;
    border-top: solid 1px #ddd;
}
#pulseaudio.source-muted {
    background: #000;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}


#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#tray
#click
#disk {
	padding: 0 10px;
}
